*{box-sizing:border-box;line-height:2}
body,html{color:#222;margin:0;padding:0}
html{font-family:'Gotham-Book',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Ubuntu,'Helvetica Neue',Helvetica,Arial,'PingFang SC','Hiragino Sans GB','Microsoft Yahei UI','Microsoft Yahei','Source Han Sans CN',sans-serif;overflow-y:scroll}
h1,h2,h3,h4,h5{font-weight:inherit;line-height:normal}
a{text-decoration:none;color:#3d92c9}
a:focus,a:hover{text-decoration:underline}
.none{display:none}
.left{float:left}
.right{float:right}
.header{text-align:center;height:400px;background:transparent url("") 0 0 no-repeat;background-size:cover;background-position:center}
.brand{padding:5rem 1.6rem 2rem}
.nav{margin:0 auto 20px;max-width:800px;border-top:solid 1px;border-bottom:solid 1px;border-image:linear-gradient(to right,rgba(255,255,255,0) 0,#fff 50%,rgba(255,255,255,0) 100%) 1}
.logo{font-size:120%;color:#fff}
.p-left{padding-left:15px}
.content{margin:0 auto;padding:0 2em;max-width:800px}
.content .content-title{margin:50px 0 20px 0;font-weight:300;color:#888}
.content .content-title a{color:#222;font-weight:700}
.content .content-homeinfo{color:#888}
.justify-center{display:block;width:50%;margin:30px auto;border-top:1px solid #ddd}
.justify-center .brpr{position:relative;top:-4px;display:block;background:#fff;border:solid 1px #ddd;width:8px;height:8px;margin-left:auto;margin-right:auto;border-radius:50%}
.post-title{text-align:center;padding-top:120px;font-size:30px;font-weight:700;color:#fff}
.post-meta{text-align:center;font-style:italic;color:#fff}
.post-meta:after{content:'';display:block;width:40px;height:4px;background:#fff;margin:30px auto 0}
.post img{border-radius:8px;margin:40px -50px;width:120%;max-width:120%;box-shadow:0 4px 6px rgba(0,0,0,.04)}
.post blockquote{font-style:italic;color:#666;border-left:3px solid #999;padding-left:1em}
.post code{padding:.1em;border-radius:.3em;border:1px solid #eee}
.pagination{display:block;height:30px}
.footer{border-top:1px solid #eee;font-size:87.5%;margin-top:3.4286em;padding:1.1429em}