*{box-sizing:border-box;line-height:2}
html{font-family:'Gotham-Book',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Ubuntu,'Helvetica Neue',Helvetica,Arial,'PingFang SC','Hiragino Sans GB','Microsoft Yahei UI','Microsoft Yahei','Source Han Sans CN',sans-serif;overflow-y:scroll}
h1,h2,h3,h4,h5{font-weight:inherit;line-height:normal}
a{text-decoration:none;color:#0078e7}
a:focus,a:hover{text-decoration:underline;text-decoration-skip-ink:auto;text-underline-offset:0.25em}
pre,code{padding:.1em;border-radius:.3em;border:1px solid #eee;background:rgb(250, 250, 250)}
.left{float:left}
.right{float:right}
.center{text-align:center}
.l-box{padding:1em}
.header{margin-bottom:50px;height:350px;background:transparent url('//bing.img.run/1920x1080.php') no-repeat;background-size:cover;background-position:center}
.banner{width:100%;height:100%;background:rgba(0,0,0,.33)}
.brand{margin:0 auto;padding:6.5rem 0 5rem;width:150px}
.brand a:focus,.brand a:hover{text-decoration:none}
.nav{margin:0 auto 20px;max-width:800px;border-top:solid 1px;border-bottom:solid 1px;border-image:linear-gradient(to right,rgba(255,255,255,0) 0,#fff 50%,rgba(255,255,255,0) 100%) 1}
.nav a{color:#fff}
.nav a:focus,.nav a:hover{color:#0078e7}
.content{margin:0 auto;padding:0 2em;max-width:800px}
.content-title{margin:0;font-size:32px;font-weight:700}
.content-title a{color:#2e2e2e}
.content-meta{font-size:87.5%;color:#999}
.justify-center{display:block;width:50%;margin:50px auto;border-top:1px solid #ddd}
.justify-center .brpr{position:relative;top:-4px;display:block;background:#fff;border:solid 1px #ddd;width:8px;height:8px;margin-left:auto;margin-right:auto;border-radius:50%}
.post-title{padding-top:50px;font-size:36px;font-weight:700;color:#2e2e2e}
.post-meta{font-style:italic;font-size:87.5%;color:#999}
.post-meta:after{content:'';display:block;width:40px;height:4px;background:#ddd;margin:50px auto}
.post img{border-radius:8px;margin:0 -32px;width:800px;max-width:800px;box-shadow:0 4px 6px rgba(0,0,0,.04)}
.post blockquote{color:#666;border:4px solid #999;margin-top:32px;margin-left:-32px;margin-right:-32px;margin-bottom:32px;padding-left:32px;padding-right:32px;border-radius:12px;box-shadow:0 2px 10px 0 rgba(0,0,0,.1)}
.pagination{display:block;height:30px}
.footer{margin:50px auto 0;padding:1em;font-size:87.5%;max-width:800px;border-top:solid 1px;border-image:linear-gradient(to right,rgba(255,255,255,0) 0,#ddd 50%,rgba(255,255,255,0) 100%) 1}
.footer a{color:#222}
@media (max-width:37.5em){
    .header{height:300px}.brand{padding:6rem 0 4rem}.content-title,.post-title{font-size:28px}.post img{margin:auto;width:100%;max-width:100%}
}
@media (prefers-color-scheme:dark){
    html,.justify-center .brpr{background:#3b3d42;color:#f5f5f5}a,.content-title a,.footer a{color:#f5f5f5;text-decoration:underline;text-decoration-skip-ink:auto;text-underline-offset:0.25em}.post-title,.post blockquote{color:#f5f5f5}.post img{filter:grayscale(30%)}pre,code{border:1px solid #3b3d42;background:#252627}
}