</div>
<div class="footer l-box is-center">
    {{ site.time | date: '%Y' }} <i class="fa-regular fa-copyright"></i> <a href="{{ '/' | prepend: site.baseurl }}" title="沐沐濹濹(mumu.meme)">MuMu.MeMe</a> - <a href="https://icp.gov.moe/?keyword=20245252" target="_blank">萌ICP备20245252号</a> - <a href="{{ '/sitemap.xml' | prepend: site.baseurl }}" title="Sitemap"><i class="fa-solid fa-sitemap"></i></a> <a href="{{ '/feed.xml' | prepend: site.baseurl }}" title="RSS"><i class="fa-solid fa-square-rss"></i></a>
</div>
<script src="//lib.baomitu.com/jquery/3.6.3/jquery.min.js"></script>