</div>
<div class="footer l-box center">
    {{ site.time | date: '%Y' }} <i class="fa-regular fa-copyright"></i> <a href="{{ '/' | prepend: site.baseurl }}" title="言井故事（9125.net）">9125.NET</a> - <a href="https://icp.gov.moe/?keyword=20244222" target="_blank">萌ICP备20244222号</a> - <a href="{{ '/sitemap.xml' | prepend: site.baseurl }}" title="Sitemap"><i class="fa-solid fa-sitemap"></i></a> <a href="{{ '/feed.xml' | prepend: site.baseurl }}" title="RSS"><i class="fa-solid fa-square-rss"></i></a>
</div>
<script src="//cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>