<head>
  <title>
    {% if page.title %}{{ page.title | escape }} - 沐沐濹濹(mumu.meme)
    {% elsif paginator.previous_page %}第{{ paginator.page }}/{{ paginator.total_pages }}页 - 沐沐濹濹(mumu.meme)
    {% else %}沐沐濹濹(mumu.meme) - I❤️blog……
    {% endif %}
  </title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <meta property="author" content="刘看山">
  <link rel="icon" href="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2020%2020'%3E%3Ctext%20x='0'%20y='14'%3E📝%3C/text%3E%3C/svg%3E" type="image/svg+xml" />
  <link rel="dns-prefetch" href="//lib.baomitu.com">
  <link rel="dns-prefetch" href="//china.s3.bitiful.net">
  <link rel="stylesheet" href="//lib.baomitu.com/font-awesome/6.5.1/css/all.min.css">
  <link rel="stylesheet" href="//lib.baomitu.com/pure/3.0.0/pure.min.css" integrity="sha512-aj3VPef4Ml4KewQvoJ5b6yBRV1/tPdn7Qa0+jMccMgDFIN04PJCgWssA3RaoQDXLHGUYX2EMRRgeGK4n6duuZA==" crossorigin="anonymous">
  <link rel="stylesheet" href="/style.css?v=0.4">
  <link rel="alternate" type="application/atom+xml" title="RSS of 沐沐濹濹(mumu.meme)" href="//mumu.meme/feed.xml">
  {% feed_meta %}
</head>
