<head>
  <title>
    {% if page.title %}{{ page.title | escape }} - 自己字集（ziji.info）
    {% elsif paginator.previous_page %}第{{ paginator.page }}/{{ paginator.total_pages }}页 - 自己字集（ziji.info）
    {% else %}自己字集（ziji.info） - I❤️blog……
    {% endif %}
  </title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <meta property="author" content="刘看山">
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>ℹ️</text></svg>" />
  <link rel="dns-prefetch" href="//lib.baomitu.com">
  <link rel="dns-prefetch" href="//cctv.cdn.bcebos.com">
  <link rel="stylesheet" href="//lib.baomitu.com/font-awesome/6.5.1/css/all.min.css">
  <link rel="stylesheet" href="//lib.baomitu.com/pure/3.0.0/pure.min.css" integrity="sha512-aj3VPef4Ml4KewQvoJ5b6yBRV1/tPdn7Qa0+jMccMgDFIN04PJCgWssA3RaoQDXLHGUYX2EMRRgeGK4n6duuZA==" crossorigin="anonymous">
  <link rel="stylesheet" href="/style.css?v=0.2">
  <link rel="alternate" type="application/atom+xml" title="RSS of 自己字集（ziji.info）" href="//ziji.info/feed.xml">
  {% feed_meta %}
</head>
