<head>
  <title>
    {% if page.title %}{{ page.title | escape }} - 木木么么（MuMu.MeMe）
    {% elsif paginator.previous_page %}第{{ paginator.page }}/{{ paginator.total_pages }}页 - 木木么么（MuMu.MeMe）
    {% else %}木木么么（MuMu.MeMe） - 思想有多远，我们就能扯多远……
    {% endif %}
  </title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <meta property="author" content="熊の猫">
  <link rel="dns-prefetch" href="//api.me.eu.org">
  <link rel="dns-prefetch" href="//lib.baomitu.com">
  <link rel="dns-prefetch" href="//china.s3.bitiful.net">
  <link rel="stylesheet" href="//lib.baomitu.com/font-awesome/6.3.0/css/all.min.css">
  <link rel="stylesheet" href="/main.min.css?v=0.5">
  <link rel="apple-touch-icon" sizes="180x180" href="//china.s3.bitiful.net/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="//china.s3.bitiful.net/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="//china.s3.bitiful.net/icons/favicon-16x16.png">
  <link rel="manifest" href="//china.s3.bitiful.net/icons/site.webmanifest">
  <link rel="alternate" type="application/atom+xml" title="RSS of MuMu.MeMe" href="//MuMu.MeMe/feed.xml">
  {% feed_meta %}
</head>
