<header id="header" class="headroom" role="banner">
  <div class="nav">
	<div class="nav-container">
    <a title="我爱.blog" href="https://woai.blog">
		<div class="logo">我爱.blog</div>
	</a>
    <h1 class="hidden">我爱.blog - woai.blog</h1>
	<div class="desktop">
		<ul>
			<li><a href="{{ '/archive' | prepend: site.baseurl }}" style="color:#61bfad">归档</a></li>
			<li><a href="{{ '/about' | prepend: site.baseurl }}" style="color:#fd8b8b">作者</a></li>
			<li><a href="{{ '/friend' | prepend: site.baseurl }}" style="color:#ffab00">朋友</a></li>
			<li><a href="{{ '/search' | prepend: site.baseurl }}"><i class="fa-solid fa-magnifying-glass" style="color:#99ccff"></i></a></li>
		</ul>
	</div>
	<div class="dropdown">
		<button class="dropbtn">☰</button>
		<div class="dropdown-content">
			<a href="{{ '/archive' | prepend: site.baseurl }}">归档</a>
			<a href="{{ '/about' | prepend: site.baseurl }}">作者</a>
			<a href="{{ '/friend' | prepend: site.baseurl }}">朋友</a>
			<a href="{{ '/search' | prepend: site.baseurl }}">检索</a>
		</div>
	</div>
  </div>
  </div>
</header>
