<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading left" title="博客沙龙(blog.salon)" href="https://blog.salon"><i class="fa-solid fa-stroopwafel"></i> 博客沙龙</a>
		<h1 class="none">博客沙龙(blog.salon)</h1>
        <ul class="pure-menu-list pure-menu-heading right">
            <li class="pure-menu-item"><a href="{{ '/archive' | prepend: site.baseurl }}">归档</a></li>
            <li class="pure-menu-item"><a href="{{ '/about' | prepend: site.baseurl }}">作者</a></li>
            <li class="pure-menu-item"><a href="{{ '/friend' | prepend: site.baseurl }}">朋友</a></li>
			<li class="pure-menu-item"><a href="{{ '/search' | prepend: site.baseurl }}">检索</a></li>
        </ul>
    </div>
</div>
<div id="main">