<div class="header">
    <div class="pure-menu brand">
        <a class="pure-menu-heading logo" title="沐沐濹濹(mumu.meme)" href="https://mumu.meme"><h1>>mumu.meme<</h1></a>
		<h1 hidden>沐沐濹濹(mumu.meme)</h1>
    </div>
    <div class="pure-menu-horizontal nav">
        <ul class="pure-menu-list">
            <li class="pure-menu-item l-box"><a href="{{ '/archive' | prepend: site.baseurl }}">归档</a></li>
            <li class="pure-menu-item l-box"><a href="{{ '/about' | prepend: site.baseurl }}">作者</a></li>
            <li class="pure-menu-item l-box"><a href="{{ '/friend' | prepend: site.baseurl }}">朋友</a></li>
			<li class="pure-menu-item l-box"><a href="{{ '/search' | prepend: site.baseurl }}">检索</a></li>
        </ul>
    </div>
</div>
<div id="main">