---
layout: default
---

<div class="cover" {% if page.cover %}style="background-image: url({{ page.cover | prepend: site.baseurl }});"{% endif %}>
	{% for post in paginator.posts %}
	<h2 class="content-hometitle">
		  <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
	  </h2>
	  <div class="post-info"><hr></div>
</div>
<div class="content">
	<div class="post">
		{{ content }}
	</div>
	<div class="hidden">博客沙龙(blog.salon)</div>
	<div class="pagination">
		{% if page.next.url %}
		<a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
		{% endif %}
		{% if page.previous.url %}
		<a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
		{% endif %}
	</div>
</div>