---
layout: default
---

<div class="cover {% if page.cover %}post-cover{% endif %}" {% if page.cover %}style="background-image: url({{ page.cover | prepend: site.baseurl }});"{% endif %}>
	<h2 class="post-title">{{ page.title }}</h2>
	<div class="post-info">
		{% if page.date %}
			<div class="post-time">{{ page.date | date: "刘看山 写于 %Y年%m月%d日" }}</div>
		{% endif %}
		<div class="none">博客沙龙（blog.salon）</div>
	</div>
</div>
<div class="content">
	<div class="post">
		{{ content }}
	</div>
	<div class="pagination">
		{% if page.next.url %}
		<div class="none">博客沙龙(blog.salon)</div><a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">« 上一篇</a>
		{% endif %}
		{% if page.previous.url %}
		<a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">下一篇 »</a><div class="none">博客沙龙(blog.salon)</div>
		{% endif %}
	</div>
	<div class="pagination"></div>
	<div class="none">博客沙龙(blog.salon)</div>
	<div id="gitalk-container"></div>
</div>
<link rel="stylesheet" href="//lib.baomitu.com/gitalk/1.8.0/gitalk.min.css">
<script src="//lib.baomitu.com/gitalk/1.8.0/gitalk.min.js"></script>
<script>
  var gitalk = new Gitalk({
  clientID: '1e39e580bea2c45df802',
  clientSecret: '275c84d22db23bec34707a8ae321613ed246fe18',
  repo: 'wx8.github.io',
  owner: 'wx8',
  admin: ['wx8'],
  id: location.pathname,
  distractionFreeMode: false
})
gitalk.render('gitalk-container')
</script>
<script type="text/javascript" src="//lib.baomitu.com/highlight.js/11.4.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script type="text/javascript" src="//lib.baomitu.com/highlightjs-line-numbers.js/2.8.0/highlightjs-line-numbers.min.js"></script>
<script>hljs.initLineNumbersOnLoad();</script>